@font-face {  
            font-family: "Open-Sans";
            src: url(); 

        }
        *   { 
            font-family: ""Open-Sans"";
        }
       





        








/* Das Untere gehört zum Kommentarbereich*/

  .KommentarFormular {
   
        padding: 10px;
        width: 400px;
        
    
  }

  
