 @font-face {  
    font-family: "Open-Sans";
    src: url('../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf'); 
    }
 *  { 
    font-family: "Open-Sans";
    background-color: #F3F5F6;
 }

/* Navigation-Bar / Changen bis CSA Hover */ 
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   background-color: #F3F5F6;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
 }

 .logo img {
   display: block;
   max-width: 100%;
   height: auto;
   padding-left: 780px;
 }

 .navigation {
   display: flex;
   align-items: center;
 }

 .nav_links {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
 }

 .nav_links li {
   margin-right: 20px;
 }

 .nav_links a {
   text-decoration: none;
   color: #333;
   font-weight: bold;
   transition: color 0.3s ease-in-out;
 }

 .nav_links a:hover {
   color: #336699;
 }

 .csa {
   margin-left: 363%;
   text-decoration: none;
   color: #fff;
   background-color: #336699;
   padding: 10px 20px;
   border-radius: 5px;
   transition: background-color 0.3s ease-in-out;
 }

 .csa:hover {
   background-color: #fff;
   color: #336699;
 }

 .figurebild { /* Weil die Bilder durch das Figureelement automatisch Zentriert wurden */
margin-left: auto;
 }

/* Das Untere gehört zum Kommentarbereich*/
  .KommentarFormular {

   padding: 10px;
   width: 300px;
    
  }
/*Ende*/

/* Das Untere gehört zum Kontakt fieldset*/

 /*Ende*/ 

 
 

/*Autorenbox*/

.autorenbox {
    width: 300px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 10px 15px silver;
}

body { 
  position: relative;
  padding-bottom: 52px;
  min-height: 90vh;
}
main {
  width: 100vw;
  margin: 0 auto;
  padding: 30px 20px;

}
 /* Es besteht noch immmer ein Bug bei Impressum, dass es zur Seite verchoben werden kann, muss gefixt werden. Es wurde vorerst ein Code aus youtube benutzt, 
 da die Fußzeile nicht ganz unten war, aber der vorherige code war ganz nur ohne das Main und Body von oben und das width unter .footer */
 
 .footer {
   position: absolute;
   bottom: 0;
   left: 0;
   right:0;
   width: 98.8%; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
   background-color: #F3F5F6;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }  

 .fußbereich {
  margin-left: auto;
  margin-right: auto;
   } 

