@font-face {  
            font-family: "Open-Sans";
            src: url(); 

        }
        *   { 
            font-family: ""Open-Sans"";
        }
       















/* Das Untere gehört zum Kommentarbereich*/

.textarea-box {
    width: 200px;
    height: 100px;
    overflow: auto;
  } 

  .legend-kommentargrenze {
   
        border: 2px solid #C5D8E1; 
        border-radius: 6px; 
        background: white; 
        
    
  }

  
