@font-face {
  font-family: "Open-Sans";
  src: url("../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Open-Sans";
  background-color: #f3f5f6;
}

body {
  background: linear-gradient(180deg, #f3f5f6, #eeecec);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

main {
  width: 100vw;
  margin: 0 auto;
}

header,
main,
footer {
  margin: 30px auto;
  width: 80%;
}

/* Navigation-Bar  */

.header {
  display: block;
  padding: 10px;
  background-color: #f3f5f6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #336699;
}

a:hover {
  color: rebeccapurple;
  text-decoration: none;
}
.emojis {
  color: rgb(255, 255, 255);
  background-color: #336699;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f5f6;
  /* Selbe Farbe wie Body gemacht */
}

.logo img {
  /* display: block; (Entfernt um Logo Bug zu fixen)  */
  max-width: 100%;
  height: auto;
  /* padding-left: 620px; (Entfernt um Logo Bug zu fixen) */
}

.logo :hover {
  margin-left: 15px;
  transition-property: all;
  transition-duration: 2s;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav_links li {
  margin-right: 20px;
}

/* -------------- Navigationslinks in der Nav bar* ------------ */
.nav_links a {
  text-decoration: none;
  color: #336699;
  font-weight: bold;
  transition: box-shadow 1s;
  /* Animation Schatten */
  padding: 3px 8px;
  /* Für den ,,Rahmen" beim hover */
}

/* ----------- Navigations Links im Header Hover -------- */
.nav_links a:hover {
  color: rebeccapurple;
  box-shadow: 5px 5px 10px #777;
}

/* ----------- Kontakt Button ---------- */
.csa {
  margin-left: auto;
  text-decoration: none;
  color: #fff;
  background-color: #336699;
  padding: 10px 20px;
  border-radius: 5px;
  transition: box-shadow 1s;
  /* Animation Schatten */
}

/* -------------- Kontakt Button Hover ----------- */
.csa:hover {
  background-color: rebeccapurple;
  color: #ffffff;
  box-shadow: 5px 5px 10px #777;
  /*  Animation Schatten */
}

.button {
  text-decoration: none;
  color: #fff;
  background-color: #336699;
  padding: 10px 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: #437cb6;
  color: #ffffff;
}

/* -------- Sodass die Bilder durch Figureelement automatisch Zentriert werden ----------- */
.figurebild {
  margin-left: auto;
}

/* Design für Tabellen */
.artikel_tabelle {
  border-collapse: collapse;
  border: 1px solid black;
}

.artikel_tabelle th,
.artikel_tabelle td {
  border: 1px solid black;
  padding: 8px;
}

.ÜberschriftenLeiste-tr {
  background-color: #7297bb;
}

#content {
  width: 80%;
  margin: 30px auto;
  background: #f3f5f6;
  /* Selbe Farbe wie Body gemacht */
}

/* Das Untere gehört zum Kommentarbereich*/
.KommentarFormular {
  padding: 10px;
  width: 300px;
}

/*Autorenbox*/

.autorenbox {
  width: 300px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 10px 15px silver;
}

.footer {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f3f5f6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.fußbereich {
  margin-left: auto;
  margin-right: auto;
}
